[credential "https://github.com"]
	helper =
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[user]
	email = __GIT_EMAIL__
	name = __GIT_NAME__
	signingkey = __GPG_KEY_ID__
[core]
	hooksPath = ~/.config/git/hooks
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[commit]
	gpgsign = true
[tag]
	gpgSign = true
