[credential "https://github.com"]
	helper =
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[user]
	email = 25864640+pheever@users.noreply.github.com
	name = pheever
	signingkey = __GPG_KEY_ID__
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[commit]
	gpgsign = true
[tag]
	gpgSign = true
